$color-red: #ea5454;
$color-cyan: #44d3d2;
$color-yellow: #fcae4a;
$color-blue: #549ef2;
$color-grey: #4d4f62;

$font-weight-extra-light: 200;
$font-weight-regular: 400;
$font-weight-extra-medium: 500;
$font-weight-semi-bold: 600;
