@use "../abstracts/" as a;

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 0 4px 4px rgba(#000000, 0.25);
  gap: 1px;
  text-align: left;

  &__heading {
    font-size: 2rem;
    font-weight: a.$font-weight-semi-bold;
  }
  &__summary {
    font-size: 1.3rem;
    @include a.color-opacity;
    letter-spacing: 0.09px;
  }
  &__icon {
    width: 57px;
    align-self: flex-end;
    margin-top: 30px;
  }

  &__supervisor {
    border-top: a.$color-cyan 4px solid;
    @include a.respond(desktop) {
      grid-area: left;
      align-self: center;
    }
  }
  &__team-builder {
    border-top: a.$color-red 4px solid;
    @include a.respond(desktop) {
      grid-area: centre-top;
    }
  }
  &__karma {
    border-top: a.$color-yellow 4px solid;
    @include a.respond(desktop) {
      grid-area: centre-bottom;
    }
  }
  &__calculator {
    border-top: a.$color-blue 4px solid;
    @include a.respond(desktop) {
      grid-area: right;
      align-self: center;
    }
  }
}
